*{ 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*-----------------------Header---------------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.5)), url(./images/banner2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color:white;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}
header span{
    float:left;
    margin-top:15px;
}
header h1 a img{
    float:right;
    margin-left: 0.5em;
}

nav{
    display: flex;
    padding: 1% 7%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
    width: 90%;
    height: 50px;
    background: #15152b;
}
nav h1{
    font-size: 24px;
}
.nav-links{
    flex: 1;
    text-align: right;
    float: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height:0.1em;
    background: #fff;
    display: block;
    margin:auto;
    transition: .5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.orange{ 
    color:rgb(243, 37, 1)
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.banner-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
}

.banner-btn:hover{
    border: 1px solid #f53f02;
    background: #15152b;
    color: #f53f02;
    transition: 0.5s;
}
.banner-btn2{
    margin-top: 10px;
    display:inline-block; 
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;    
}
.banner-btn2:hover{
    border: 1px solid #fff;
    background: #15152b;
    color: #fff;
    transition: 0.5s;
}

nav .menu-icon,
nav .x-icon{
    display: none;
}

/*-----------------------Main---------------------------*/
/* News Articles*/
section h1{
    padding:0 0 10px 0;
}
.popular-news{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.popular-news a{
    color: #000000;
}
.popular-news h1{
    font-size: 36px;
    font-weight: 600;
}

.popular-news p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 2;
}
.row{
    margin-top: 5%;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
}
.news-col{
    flex-basis: 32%;
    background: #f5e7e7;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.news-col2{
    flex-basis: 48%;
    background: #f5e7e7;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.popular-news h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.news-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
}
.news-col2:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
}
.popular-news img{
    width: 100%;
    height: 300px;
    border-radius: 2%;
}
/* Icons */
footer .fab, .fa{
  margin-top:14px;
   padding:0 14px 0 14px;
   color:#f44336;
   
}
footer .fab:hover, .fa:hover{
    color:#ffffff;
}

/*--------Footer----------*/
footer{
    width: 100%;
    text-align: center;
    font-size:14px;
    margin-top: 50px;
    padding: 20px 0;
    background-color: #15152b;
    color:white;
}

footer h4{
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 20px;
    font-weight: 600;
}
#footerTxt{
    margin-top:20px;
    font-size: 12px;
}

/*Media queries*/
@media(max-width: 700px){
  .text-box h1{
    font-size: 20px; 
  }
  .nav-links ul li{
      display: block;
  }
  .nav-links{
      position: absolute;
      background: #15152b;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: center;
      z-index: 10;
      transition: 0.6s;
  }
  nav .menu-icon{
    display: block;
    height: 20px;
    width: 20px;
  }
  nav .x-icon{
    display: block;
    height: 18px;
    width: 18px;
    padding: 20px 0 10px 20px;
    
  }
  .nav-links ul{
      padding: 40px;
  }
  .row{
      flex-direction: column;
  }
  .banner-btn2{
    font-size: 12px;
    border-radius: 10px;
    padding: 10px 20px;
  }
}



